<table>
  <tr>
    <th>Description</th>
    <th>Org name</th>
    <th>Categories</th>
    <th>Contact email</th>
    <th>Goal money</th>
    <th>Current money</th>
    <th>Num donors</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @e.each do |event| %>
  <tr>
    <td><%= event.description %></td>
    <td><%= event.org_name %></td>
    <td><%= event.categories %></td>
    <td><%= event.contact_email %></td>
    <td><%= event.goal_money %></td>
    <td><%= event.current_money %></td>
    <td><%= event.num_donors %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
