<p id="notice"><%= notice %></p>

<h1><%= @event.org_name %></h1>

<img src="" width="100" height="100" style="float:left; margin: 0 10px 10px 0;" />
<p>
<%= @event.description %>
</p>

<p>
  <b>Goal:</b>
  $ <%= @event.goal_money %>
</p>

<p>
  <b>Currently Raised:</b>
  $ <%= @event.current_money %>
</p>

<%= link_to 'back', profile_path %>